body {
  background: rgb(238, 238, 238);
}

.card {
  display: inline-block;
  position: relative;
  background: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
}

.card__img {
  position: relative;
}

.card__content {
  padding: 18px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

img {
  /* position: absolute; */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

h3 {
  font-family: Georgia, serif;
  margin-bottom: 8px;
  font-size: 1em/1.2;
}

p {
  font-family: Arial, sans-serif;
  margin-bottom: 16px;
}

a {
  font-family: Arial, sans-serif;

  text-decoration: none;
  background: rgb(0, 153, 0);
  text-align: right;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
}
