@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.2/css/all.min.css");

.viewport.one{
  position: relative;
  height: 50vh;
  background: linear-gradient(
    90deg,
    rgba(31, 111, 157, 1) 0%,
    rgba(44, 145, 159, 1) 35%,
    rgba(64, 197, 161, 1) 100%
  );
  width: 100%;
}

.card {
  display: block;
  position: absolute;
  width: 100%;
  height: 50vh;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  object-fit: cover;
  height: 80%;
}

.viewport.two {
  display: block;
  position: relative;
  height: 50vh;
  background: linear-gradient(
    90deg,
    rgba(170, 54, 114, 1) 0%,
    rgba(196, 104, 51, 1) 35%,
    rgba(206, 121, 30, 1) 100%
  );
  width: 100%;
}

.icon_1 {
  position: absolute;
  display: block;
  bottom: 15%;
  left: 68%;
  color: white;
  font-size: 32px;
}


.icon_2 {
  position: absolute;
  bottom: 15%;
  left: 56%;
  font-size: 32px;
  color: white;
}
